asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.62.1
ghostscript==0.8.1
idna==3.13
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-loader==0.5
llvmlite==0.47.0
lxml==6.1.0
networkx==3.6.1
numba==0.65.1
numpy==2.4.4
onnxruntime==1.26.0
opencv-python-headless==4.13.0.92
packaging==26.2
pdf2docx==0.5.13
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
protobuf==7.34.1
psycopg==3.3.4
PyJWT==2.12.1
PyMatting==1.1.15
PyMuPDF==1.27.2.3
pypdf==6.10.2
PyPDF2==3.0.1
python-decouple==3.8
python-docx==1.2.0
referencing==0.37.0
rembg==2.0.75
reportlab==4.5.0
requests==2.33.1
rpds-py==0.30.0
scikit-image==0.26.0
scipy==1.17.1
sqlparse==0.5.5
termcolor==3.3.0
tifffile==2026.5.2
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.7.0
whitenoise==6.12.0
